{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
{% endblock %}

{% block content %}
<section class="video-text">
    <video class="video-slide active" src="media/food1.mp4" autoplay loop></video>
    <video class="video-slide" src="media/food2.mp4" autoplay loop></video>
    <video class="video-slide" src="media/food3.mp4" autoplay loop></video>
    <video class="video-slide" src="media/food4.mp4" autoplay loop></video>
    <video class="video-slide" src="media/food5.mp4" autoplay loop></video>
        
    <div class="content active">
        <h1>Prawn Tacos</h1>
        <p>Topped with jalapeno,<br>pineapple and cilantro</p>
        <a href="{% url 'reservations' %}" class="btn">Book a Table Now</a>
    </div>
    <div class="content">
        <h1>Chicken Tacos</h1>
        <p>Topped with onion and salsa</p>
        <a href="{% url 'reservations' %}">Book a Table Now</a>
      </div>
      <div class="content">
        <h1>Fish Tacos</h1>
        <p>Topped with pickled onion and cilantro</p>
        <a href="{% url 'reservations' %}">Book a Table Now</a>
      </div>
      <div class="content">
        <h1>Vegiterian Tacos</h1>
        <p>Topped with Feta cheese</p>
        <a href="{% url 'reservations' %}">Book a Table Now</a>
      </div>
      <div class="content">
        <h1>Pork Tacos</h1>
        <p>Served with our delicious secret sauce</p>
        <a href="{% url 'reservations' %}">Book a Table Now</a>
      </div>

    <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
      </div>
</section>
{% endblock %}

{% block postloadjs %}
  <script src="{% static 'script/main.js' %}"></script>
{% endblock %}