{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
{% endblock %}

{% block content %}
<section id="about" class="about">
    <div class="main">
        <img src="media/about-us.jpg" alt="chef tasting food">
        <div class="about-text">
            <h1>Good Taco</h1>
        <h3>At Good Taco we strive to expand on the basics, connecting flavors of Mexico with the community through culinary traditions and culture. 
            We serve exquisite and authentic Mexican Cuisine representing our cultures and legendary culinary gastronomy with typical dishes with a 
            creative and talented touch, delivering a distinctly unique dining experience to fulfill our guest expectations</h3>
            <a href="{% url 'menu' %}" class="btn">View Our Menu</a>
        </div>
    </div>
</section>
{% endblock %}