{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
{% endblock %}

{% block content %}
<div class="menu-header">
    <h1>eat in menu</h1>
</div>
<main class="flex-container">
    <section class="left">
        <h2>small plates</h2>
          <h4>tortilla chips with salsa – 5.95</h4>
          <p>salsa macha, salsa verde <br>and salsa roja</p>
          <h4>tortilla chips with guacamole – 5.95</h4>
          <p>avocado, lime, onion, coriander, jalapeños </p>
          <h4>corn – 6.95</h4>
          <p>corn on the cob, cheese, chili</p>
          <h4>mexican bravas – 5.95</h4>
          <p>potato, tomato, chipotle mayo<br>&zwj;</p>
          <h2>quesadilla</h2>
          <h4>served on a wheat tortilla.</h4>
          <h4>plain – 5.45</h4>
          <p>cheese, chipotle mayo</p>
          <h4>Mushroom – 5.95</h4>
          <p>cheese, mushroom, chipotle mayo</p>
          <h4>Black Bean– 5.95</h4>
          <p>cheese, black beans, jalapeños, tomato sauce</p>
          <h4>Chorizo – 5.95</h4>
          <p>cheese, minced pork, ancho, pasilla, paprika</p>
        </div>
        <div class="menu-callout">
          <div class="menu-callout-box w-richtext">
            <h2>dessert</div></h2>
            <h4>churros &amp; Chocolate – 5.95</h4>
            <p>mexican donut, chocolate sauce</p>
          </div>
        </div>
    </section>
    <aside class="right">
        <h2>tacos</h2>
          <h4><strong>served on soft corn tortillas,<br>made fresh to order.</strong></h4>
          <h4>al pastor – 6.45</h4>
          <p>x2: pork, red chili, achiote, pineapple, <br>onion, coriander</p>
          <h4>carne Asada – 8.35</h4>
          <p>x2: steak, cheese, jalapeños, pickled onion, coriander</p>
          <h4>chicken – 7.95</h4>
          <p>x2: fried chicken thigh, peanuts, salsa macha</p>
          <h4>chorizo – 6.45</h4>
          <p>x2: minced pork, ancho, pasilla, paprika, onion, crema, coriander</p>
          <h4>fish – 8.25</h4>
          <p>x2: battered fresh white fish, pickled cabbage, avocado salsa verde, chipotle mayo, coriander</p>
          <h4>prawn – 7.95</h4>
          <p>x2: slaw, prawns, jalapeño crema, pico de gallo, coriander<br>&zwj;</p>
          <h2>Vegan TACOS</h2>
          <h4>cauliflower – 6.95</h4>
          <p>x2: fried cauliflower, peanuts, salsa macha</p>
          <h4>soyrizo – 6.95</h4>
          <p>x2: marinated soya, ancho, pasilla, paprika, guacamole, pico de gallo, coriander</p>
        </div>
        <div class="menu-callout-box w-richtext">
          <h2>add a sauce – 1.95</h2>
          <p>salsa verde, salsa macha, salsa roja,<br>pineapple and habanero salsa,<br>chipotle mayo, jalapeño crema</p>
        </div>
      </div>
    </aside>
</main>
<div class="button">
  <a href="{% url 'reservations' %}" class="menu-btn">book a table</a>
</div>
{% endblock %}