{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>GoodTaco{% block extra_title %}{% endblock %}</title>
</head>
  <body>
    <header class="header" id="header">
        <a href="{% url 'home' %}" class="logo"><img src="/media/GoodTaco.gif" alt="Good Taco Logo"></a>

        <nav class="navbar">
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'about' %}" class="active">about</a>
            <a href="">reservations</a>
            <a href="{% url 'menu' %}" class="active">menu</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu"></i>
            <i class="fas fa-search" id="search"></i>
            <i class="fas fa-info-circle" id="about"></i>
            <i class="fas fa-utensils" id="food"></i>
            <i class="fa-solid fa-calendar-days" id="reservations"></i>
            <i class="fa-solid fa-image" id="gallery"></i>
        </div>

    </header>

    <footer>
        <div class="footer-content" id="footer">
            <h3>keep in touch with us through our social media accounts</h3>
            <ul class="socials">
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="http://mail.google.com/mail?hl=en" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
                <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
    </footer>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
  </body>
</html>